<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-8">
      <h2 class="bg-light">~さんの会員詳細</h2>
      <table>
        <tr>
          <th>会員ID</th>
          <td>member_id</td>
        </tr>
        <tr>
          <th>氏名</th>
          <td>first_name/field</td>
          <td>last_name/field</td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td>first_name_ruby/field</td>
          <td>last_name_ruby/field</td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td>postar_code/field</td>
        </tr>
        <tr>
          <th>住所</th>
          <td>shipping_addresses/field</td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td>telephone_number/field</td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td>email/field</td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td>有効or退会</td>
        </tr>
      </table>
      <a>変更を保存</a>
    </div>
    <div class="col-3"></div>
  </div>
</div>