<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-8">
      <h2 class="bg-light">~さんの会員詳細</h2>
      <table>
        <tr>
          <th>会員ID</th>
          <td>member_id</td>
        </tr>
        <tr>
          <th>氏名</th>
          <td>会員の名前</td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td>会員カナ</td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td>postar_code</td>
        </tr>
        <tr>
          <th>住所</th>
          <td>住所</td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td>00011112222</td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td>email/field</td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td>有効or無効</td>
        </tr>
      </table>
      <a>編集する</a>
      <a>注文履歴一覧を見る</a>
    </div>
    <div class="col-3"></div>
  </div>
</div>