<%= link_to "ログアウト", destroy_member_session_path, method: :delete %>
<div style="text-align:center; font-size:70px; ">
  About
</div>

<div style="text-align:center; font-size:20px;">
  ながのCAKEは全国発送可能なケーキ屋さんです。<br>
  お子様からお年寄りの方までお召し上がりいただけるよう、<br>
  様々なバリエーションをご用意しております。<br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
  ぜひご注文ください。
</div>

<div style="text-align: center; ">
  <%= image_tag 'about_cake.jpg' %>
</div>



