<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= render'genres' %>
    </div>
    <div class="col-lg-8">
      <div style="text-align: center;">
        <p class="border border-dark">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>
      <h2>新着商品</h2>
    </div>
  </div>
</div>